.btn {
    margin-left: 1%;
    justify-content: center;
    margin-top: 1%;
    background-color: rgb(44, 110, 172);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.listInputb {
    margin-left:2%;
    // margin-bottom: 1%;
    font-size: $fs-h5;
    justify-content: center;
    padding: 10px 30px;
    background-color: rgb(44, 110, 172);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    line-height: 5px;
    position: relative;
    padding: 10px;
}

