input[type=text] {
    width: 70%;
    background-color: $color-bg-hover;
    border: none;
    font-size: $fs-h4;
    font-weight: $fw-normal;
    padding: $gap*0.75 $gap*1.5;
    color: green($color: #000000);
    transition: all ease 400ms;
    box-shadow: 0 0 0 $gap/10 darken($color-1, 7);
    margin-left: 7.5%;
}

.inline {
    width: 30%;
}

input[type=text].listInput {
    background-color: $color-bg-hover;
    width:90%;
    padding: $gap*0.5 $gap*1.4;
    margin-left: 0%;
    margin-right:0%;
    transition: all ease 400ms;
    font-size: $fs-h5;
    font-weight: $fw-normal;
    box-shadow: 0 0 0 $gap/10 darken($color-1, 7);

}

